# Importing Necessary Libraries

In [1]:
import pandas as pd
import selenium
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException, StaleElementReferenceException
from selenium.webdriver.support.ui import WebDriverWait
import time
import warnings
warnings.filterwarnings('ignore')

In [2]:
# Activating Chrome browser 
driver = webdriver.Chrome(r'/Users/rishabh/Desktop/chromedriver')

# Question.1

In [3]:
url = 'https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos'
driver.get(url)
time.sleep(3)

In [4]:
# Scrapping Names of the video
Name = []
try:
    names=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[2]")
    for i in names:
        Name.append(i.text)
except NoSuchElementException:
    Name.append('No details available')
    
time.sleep(2)

# Scrapping Rank of the video
Rank = []
try:
    ranks=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[1]")
    for i in ranks:
        Rank.append(i.text)
except NoSuchElementException:
    rank.append('No details available')
    
time.sleep(2)

# Scrapping Artist of the video
Artist = []
try:
    artists=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[3]")
    for i in artists:
        Artist.append(i.text)
except NoSuchElementException:
    Artist.append('No details available')
    
time.sleep(2)

# Scrapping Views of the video
Views = []
try:
    views_list=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[4]")
    for i in views_list:
        Views.append(i.text)
except NoSuchElementException:
    Views.append('No details available')
    
time.sleep(2)

# Scrapping upload_date of the video
Upload_date = []
try:
    upload_date_list=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[5]")
    for i in upload_date_list:
        Upload_date.append(i.text)
except NoSuchElementException:
    Upload_date.append('No details available')
    
time.sleep(2)

In [5]:
# Preparing DataFrame
Videos = pd.DataFrame({'Rank' : Rank, 'Name' : Name, 'Artist' : Artist, 'Views(in billion)' : Views, 'Date of upload' : Upload_date})

In [6]:
Videos

,Rank,Name,Artist,Views(in billion),Date of upload
0,1.,"""Baby Shark Dance""[3]",Pinkfong Baby Shark - Kids' Songs & Stories,10.21,"June 17, 2016"
1,2.,"""Despacito""[6]",Luis Fonsi,7.75,"January 12, 2017"
2,3.,"""Johny Johny Yes Papa""[12]",LooLoo Kids,6.17,"October 8, 2016"
3,4.,"""Shape of You""[13]",Ed Sheeran,5.62,"January 30, 2017"
4,5.,"""See You Again""[15]",Wiz Khalifa,5.42,"April 6, 2015"
5,6.,"""Bath Song""[20]",Cocomelon – Nursery Rhymes,4.99,"May 2, 2018"
6,7.,"""Learning Colors – Colorful Eggs on a Farm""[21]",Miroshka TV,4.56,"February 27, 2018"
7,8.,"""Masha and the Bear – Recipe for Disaster""[22]",Get Movies,4.48,"January 31, 2012"
8,9.,"""Phonics Song with Two Words""[23]",ChuChu TV,4.47,"March 6, 2014"
9,10.,"""Uptown Funk""[24]",Mark Ronson,4.46,"November 19, 2014"
10,11.,"""Gangnam Style""[25]",Psy,4.34,"July 15, 2012"
11,12.,"""Dame Tu Cosita""[30]",El Chombo,3.85,"April 5, 2018"
12,13.,"""Wheels on the Bus""[31]",Cocomelon – Nursery Rhymes,3.68,"May 24, 2018"
13,14.,"""Sugar""[32]",Maroon 5,3.64,"January 14, 2015"
14,15.,"""Roar""[33]",Katy Perry,3.52,"September 5, 2013"
15,16.,"""Sorry""[34]",Justin Bieber,3.51,"October 22, 2015"
16,17.,"""Counting Stars""[35]",OneRepublic,3.51,"May 31, 2013"
17,18.,"""Thinking Out Loud""[36]",Ed Sheeran,3.41,"October 7, 2014"
18,19.,"""Girls Like You""[37]",Maroon 5,3.24,"May 31, 2018"
19,20.,"""Faded""[38]",Alan Walker,3.23,"December 3, 2015"
20,21.,"""Axel F""[39]",Crazy Frog,3.23,"June 16, 2009"
21,22.,"""Dark Horse""[40]",Katy Perry,3.22,"February 20, 2014"
22,23.,"""Let Her Go""[41]",Passenger,3.17,"July 25, 2012"
23,24.,"""Bailando""[42]",Enrique Iglesias,3.16,"April 11, 2014"
24,25.,"""Lean On""[43]",Major Lazer,3.16,"March 22, 2015"
25,26.,"""Shake It Off""[44]",Taylor Swift,3.14,"August 18, 2014"
26,27.,"""Baa Baa Black Sheep""[45]",Cocomelon – Nursery Rhymes,3.13,"June 25, 2018"
27,28.,"""Perfect""[46]",Ed Sheeran,3.09,"November 9, 2017"
28,29.,"""Waka Waka (This Time for Africa)""[47]",Shakira,3.06,"June 4, 2010"
29,30.,"""Mi Gente""[48]",J Balvin,3.04,"June 29, 2017"

# Question.2

In [63]:
url = ' https://www.bcci.tv/'
driver.get(url)

In [64]:
sidebar = driver.find_element_by_xpath("//button[@class='navbar-toggler menu-btn menu-icon']")
sidebar.click()

In [65]:
fixtures = driver.find_element_by_xpath("//a[@class='nav-link  ']") #Locating to International Fixtures
driver.get(fixtures.get_attribute('href'))

In [72]:
#  Getting paths of title, place,time,date and series of match
title = []
try:
    match_title = driver.find_elements_by_xpath('//span[@class="matchOrderText ng-binding ng-scope"]')
    for i in match_title:
        title.append(i.text.replace('/n',''))
except NoSuchElementException:
    title.append("-")
    
place = []
for j in driver.find_elements_by_xpath('//span[@class="ng-binding ng-scope"]'):
    place.append(j.text.replace('/n',''))
time = []
for j in driver.find_elements_by_xpath('//h5[@class="text-right ng-binding"]'):
    time.append(j.text.replace('/n',''))
date = []
for j in driver.find_elements_by_xpath('//h5[@class="ng-binding"]'):
    date.append(j.text.replace('/n',''))
series = []
for k in driver.find_elements_by_xpath('//span[@class="ng-binding"]'):
    series.append(k.text.replace('/n',''))

In [73]:
len(title)

2

In [74]:
title

['1st Test -', '2nd Test -']

Since the title column is only showing the match title of India vs SriLanka series and there is no information about title for ICC Womens World Cup 2022 so we are dropping the title column and making the DataFrame.

In [75]:
df = pd.DataFrame({'Series' : series, 'Place' : place, 'Date' : date, 'Time' : time})
df

,Series,Place,Date,Time
0,SRI LANKA TOUR OF INDIA TEST SERIES 2022,"Punjab Cricket Association IS Bindra Stadium,",4 MAR 2022,9:30 AM IST
1,ICC WOMENS WORLD CUP 2022,"Bay Oval,",6 MAR 2022,6:30 AM IST
2,ICC WOMENS WORLD CUP 2022,"Seddon Park,",10 MAR 2022,6:30 AM IST
3,ICC WOMENS WORLD CUP 2022,"Seddon Park,",12 MAR 2022,6:30 AM IST
4,SRI LANKA TOUR OF INDIA TEST SERIES 2022,"M Chinnaswamy Stadium,",12 MAR 2022,2:30 PM IST
5,ICC WOMENS WORLD CUP 2022,"Bay Oval,",16 MAR 2022,6:30 AM IST
6,ICC WOMENS WORLD CUP 2022,"Eden Park,",19 MAR 2022,6:30 AM IST
7,ICC WOMENS WORLD CUP 2022,"Seddon Park,",22 MAR 2022,6:30 AM IST

# Question.3

In [3]:
url = 'https://www.guru99.com/'
driver.get(url)

In [4]:
#clicking on selenium option under testing menu open its tutorial
selenium_link=driver.find_element_by_xpath("//li[@id='menu-item-4622']/a")
try:
    selenium_link.click()
except:          #handling element not clickable exception
    driver.get(selenium_link.get_attribute('href'))
time.sleep(2)

#clicking on Selenium Exception Handling (Common Exceptions List) under Advance Webdriver Stuff!
exception_handle_link=driver.find_element_by_xpath("//a[@title='Selenium Exception Handling (Common Exceptions List)']")
try:
    exception_handle_link.click()
except ElementNotInteractableException:      #handling element not clickable exception
    driver.get(exception_handle_link.get_attribute('href'))              
time.sleep(2)    
    
#scraping exceptions names
name=[]
try:
    names=driver.find_elements_by_xpath("//table[@class='table table-striped']/tbody/tr/td[1]")
    for i in names[1:]:
        name.append(i.text)
except NoSuchElementException:               #handling no such element exception
    name.append('No details available')
time.sleep(2)   

#scraping exceptions description
desc=[]
try:
    desc_list=driver.find_elements_by_xpath("//table[@class='table table-striped']/tbody/tr/td[2]")
    for i in desc_list[1:]:
        desc.append(i.text)
except NoSuchElementException:#handling no such element exception
    desc.append('No details available')
time.sleep(2)

In [5]:
df = pd.DataFrame({'Exception Name' : name, 'Description' : desc})
df

,Exception Name,Description
0,ElementNotSelectableException,This Selenium exception occurs when an element...
1,NoSuchElementException,This Exception occurs if an element could not ...
2,NoSuchFrameException,This Exception occurs if the frame target to b...
3,NoAlertPresentException,This Exception occurs when you switch to no pr...
4,NoSuchWindowException,This Exception occurs if the window target to ...
5,StaleElementReferenceException,This Selenium exception occurs happens when th...
6,SessionNotFoundException,The WebDriver is acting after you quit the bro...
7,TimeoutException,Thrown when there is not enough time for a com...
8,WebDriverException,This Exception takes place when the WebDriver ...
9,ConnectionClosedException,This type of Exception takes place when there ...
10,ElementClickInterceptedException,The command may not be completed as the elemen...
11,ElementNotInteractableException,This Selenium exception is thrown when any ele...
12,ErrorInResponseException,This happens while interacting with the Firefo...
13,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
14,ImeActivationFailedException,This expectation will occur when IME engine ac...
15,ImeNotAvailableException,It takes place when IME support is unavailable.
16,InsecureCertificateException,Navigation made the user agent to hit a certif...
17,InvalidArgumentException,It occurs when an argument does not belong to ...
18,InvalidCookieDomainException,This happens when you try to add a cookie unde...
19,InvalidCoordinatesException,This type of Exception matches an interacting ...
20,InvalidElementStateExceptio,It occurs when command can’t be finished when ...
21,InvalidSessionIdException,This Exception took place when the given sessi...
22,InvalidSwitchToTargetException,This occurs when the frame or window target to...
23,JavascriptException,This issue occurs while executing JavaScript g...
24,JsonException,It occurs when you afford to get the session w...
25,NoSuchAttributeException,This kind of Exception occurs when the attribu...
26,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
27,NoSuchContextException,ContextAware does mobile device testing.
28,NoSuchCookieException,This Exception occurs when no cookie matching ...
29,NotFoundException,This Exception is a subclass of WebDriverExcep...
30,RemoteDriverServerException,This Selenium exception is thrown when the ser...
31,ScreenshotException,It is not possible to capture a screen.
32,SessionNotCreatedException,It happens when a new session could not be suc...
33,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
34,UnexpectedTagNameException,Happens if a support class did not get a web e...
35,UnhandledAlertException,This expectation occurs when there is an alert...
36,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
37,UnknownMethodException,This Exception happens when the requested comm...
38,UnreachableBrowserException,This Exception occurs only when the browser is...
39,UnsupportedCommandException,This occurs when remote WebDriver does n’t sen...

# Question.4

In [6]:
url = 'http://statisticstimes.com/'
driver.get(url)

In [8]:
# Clicking on Economy button
driver.find_element_by_xpath("//div[@class='navbar']/div[2]/button").click()

# Clicking on India
driver.find_element_by_xpath("//div[@class='dropdown-content']/a[3]").click()
time.sleep(3)

# Clicking on GDP of Indian Economy
GDP = driver.find_element_by_xpath('/html/body/div[2]/div[2]/div[2]/ul/li[1]/a').click()
time.sleep(3)

# Creating empty list
Rank = []
State = []
GSDP1 = []
GSDP2 = []
Share = []
GDP_billion = []

# Scraping Rank
try:
    for i in driver.find_elements_by_xpath("//table[@class='display dataTable']/tbody/tr/td[1]"):
        Rank.append(i.text)
except NoSuchElementException:
    Rank.append("_")
    
# Scraping State
try:
    for i in driver.find_elements_by_xpath("//table[@class='display dataTable']/tbody/tr/td[2]"):
        State.append(i.text)
except NoSuchElementException:
    State.append("_")
    
# Scraping GSDP at current price (19-20)
try:
    for i in driver.find_elements_by_xpath("//table[@class='display dataTable']/tbody/tr/td[3]"):
        GSDP1.append(i.text)
except NoSuchElementException:
    GSDP1.append("_")
    # Scraping GSDP at current price (18-19)
try:
    for i in driver.find_elements_by_xpath("//table[@class='display dataTable']/tbody/tr/td[4]"):
        GSDP2.append(i.text)
except NoSuchElementException:
    GSDP2.append("_")
    
# Scraping Share (18-19)
try:
    for i in driver.find_elements_by_xpath("//table[@class='display dataTable']/tbody/tr/td[5]"):
        Share.append(i.text)
except NoSuchElementException:
    Share.append("_")
    
# Scraping GDP $ billion
try:
    for i in driver.find_elements_by_xpath("//table[@class='display dataTable']/tbody/tr/td[6]"):
        GDP_billion.append(i.text)
except NoSuchElementException:
    GDP_billion.append("_")

In [10]:
df = pd.DataFrame({'Rank' : Rank, 'State' : State, 'GSDP at current price (19-20)' : GSDP1, 'GSDP at current price (18-19)' : GSDP2, 'Share(18-19)' : Share, 'GDP($ billion)' : GDP_billion})
df

,Rank,State,GSDP at current price (19-20),GSDP at current price (18-19),Share(18-19),GDP($ billion)
0,1,Maharashtra,-,"2,632,792",13.94%,399.921
1,2,Tamil Nadu,"1,845,853","1,630,208",8.63%,247.629
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.39%,240.726
3,4,Gujarat,-,"1,502,899",7.96%,228.290
4,5,Karnataka,"1,631,977","1,493,127",7.91%,226.806
...,...,...,...,...,...,...
61,29,Sikkim,"28,391","25,141",0.15%,"17,060"
62,30,Nagaland,-,"24,534",0.15%,-
63,31,Arunachal Pradesh,-,"22,488",0.13%,-
64,32,Mizoram,"24,424","20,947",0.13%,"17,797"
65,33,Andaman & Nicobar Islands,-,-,-,-

# Question.5

In [9]:
url = 'https://github.com/'
driver.get(url)

In [10]:
# Getting explore button and clicking on it
explore = driver.find_element_by_xpath("/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details").click()

# Selecting trending option
trend_url = driver.find_element_by_xpath("/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/div/ul/li[5]/a")
urls = trend_url.get_attribute("href")
driver.get(urls)

# Creating empty list
URLs = []
repository_title = []
Description = []
Contributors = []
Language = []
lang = []

# Fetching urls for each repository
repository = driver.find_elements_by_xpath("//h1[@class = 'h3 lh-condensed']//a")
for i in repository:
    URLs.append(i.get_attribute("href"))

    
# Scraping Repository Title data
title = driver.find_elements_by_xpath("//h1[@class = 'h3 lh-condensed']")
for i in title:
    repository_title.append(i.text)

    
# Scraping data from all repository page
for i in URLs:
    driver.get(i)
    time.sleep(3)
    
 # Scraping Repository Description data
    try:
        desc = driver.find_element_by_xpath("//p[@class='f4 my-3']")
        Description.append(desc.text)
    except NoSuchElementException:
        Description.append('-')
        
# Scraping Contributors Count data
    try:
        contributor = driver.find_element_by_xpath("//*[contains(text(),'    Contributors ')]")
        Contributors.append(contributor.text.replace('Contributors',''))
    except NoSuchElementException:
        Contributors.append('-')
            
# Scraping Languages used data
    try:
        for i in driver.find_elements_by_xpath("//div[@class='my-3']"):
            lang.append(i.text)
        Language.append(lang)
    except NoSuchElementException:
        Language.append('-')

In [11]:
df = pd.DataFrame({'Repository title' : repository_title, 'Repository description' : Description, 'Contribution Count' : Contributors, 'Language Used' : Language})
df

,Repository title,Repository description,Contribution Count,Language Used
0,louisyoungx / JD-SHOPPER,"京东自动下单 (自动登录,指定时间预约商品,商品补货监控,自动加购物车,自动下单)",4,"[python web spider requests jd, notifications ..."
1,github / advisory-database,Security vulnerability database inclusive of C...,3,"[python web spider requests jd, notifications ..."
2,netdata / netdata,"Real-time performance monitoring, done right! ...",497,"[python web spider requests jd, notifications ..."
3,jrouwe / JoltPhysics,A multi core friendly rigid body physics and c...,5,"[python web spider requests jd, notifications ..."
4,KumarRobotics / kr_autonomous_flight,Autonomous flight system for aerial robots,9,"[python web spider requests jd, notifications ..."
5,nusr / hacker-laws-zh,"💻📖对开发人员有用的定律、理论、原则和模式。(Laws, Theories, Princip...",9,"[python web spider requests jd, notifications ..."
6,anderspitman / awesome-tunneling,List of ngrok alternatives and other ngrok-lik...,6,"[python web spider requests jd, notifications ..."
7,labuladong / fucking-algorithm,刷算法全靠套路，认准 labuladong 就够了！English version supp...,97,"[python web spider requests jd, notifications ..."
8,withfig / autocomplete,Fig adds autocomplete to your terminal.,182,"[python web spider requests jd, notifications ..."
9,commaai / openpilot,openpilot is an open source driver assistance ...,280,"[python web spider requests jd, notifications ..."
10,planetscale / beam,A simple message board for your organization o...,5,"[python web spider requests jd, notifications ..."
11,KurtBestor / Hitomi-Downloader,🍰 Desktop utility to download images/videos/mu...,13,"[python web spider requests jd, notifications ..."
12,VoronDesign / Voron-2,Voron 2 CoreXY 3D Printer design,71,"[python web spider requests jd, notifications ..."
13,vueComponent / ant-design-vue,🌈 An enterprise-class UI components based on A...,163,"[python web spider requests jd, notifications ..."
14,SebLague / Geographical-Adventures,-,-,"[python web spider requests jd, notifications ..."
15,tiangolo / fastapi,"FastAPI framework, high performance, easy to l...",294,"[python web spider requests jd, notifications ..."
16,H5-Dooring / dooringx,快速高效搭建可视化拖拽平台,5,"[python web spider requests jd, notifications ..."
17,facebook / folly,An open-source C++ library developed and used ...,639,"[python web spider requests jd, notifications ..."
18,YaoApp / yao,Yao A low code engine to create web services a...,3,"[python web spider requests jd, notifications ..."
19,hasura / graphql-engine,"Blazing fast, instant realtime GraphQL APIs on...",417,"[python web spider requests jd, notifications ..."
20,skywind3000 / preserve-cd,Game Preservation Project,2,"[python web spider requests jd, notifications ..."
21,nkallen / plasticity,-,3,"[python web spider requests jd, notifications ..."
22,doocs / advanced-java,😮 Core Interview Questions & Answers For Exper...,31,"[python web spider requests jd, notifications ..."
23,cat-milk / Anime-Girls-Holding-Programming-Books,Anime Girls Holding Programming Books,173,"[python web spider requests jd, notifications ..."
24,youngyangyang04 / leetcode-master,《代码随想录》LeetCode 刷题攻略：200道经典题目刷题顺序，共60w字的详细图解，视...,209,"[python web spider requests jd, notifications ..."

# Question.6

In [7]:
url = 'https:/www.billboard.com/'
driver.get(url)

In [8]:
#clicking the hot 100 songs link
charts=driver.find_element_by_xpath("/html/body/div[4]/header/div[1]/div/div/div[2]/div/nav/ul/li[1]")
try:
    charts.click()
except ElementNotInteractableException:
    driver.get(charts.get_attribute('href'))
time.sleep(2)

#clicking view chart
view_chart = driver.find_element_by_xpath("//a[@class='c-link  lrv-a-unstyle-link lrv-u-background-color-brand-secondary-dark lrv-u-color-grey-lightest lrv-u-color-grey-lightest:hover lrv-u-width-100p lrv-u-text-align-center lrv-a-hover-effect lrv-u-background-color-grey-dark:hover a-font-accent-fancy lrv-u-font-size-20 u-padding-tb-15 u-letter-spacing-0112 lrv-a-icon-after a-icon-magazine lrv-u-justify-content-center lrv-u-align-items-center lrv-a-unstyle-link u-width-100p@tablet u-width-235@mobile-max lrv-u-margin-t-050@mobile-max u-background-color-white@mobile-max u-color-black@mobile-max lrv-u-border-a-1@mobile-max lrv-u-border-color-brand-accent-red u-line-height-1']")
try:
    view_chart.click()
except ElementNotInteractableException:
    driver.get(view_chart.get_attribute('href'))
time.sleep(2)

In [9]:
# Scrapping song names
song_name = []
try:
    names = driver.find_elements_by_xpath("//h3[@class='c-title  a-no-trucate a-font-primary-bold-s u-letter-spacing-0021 u-font-size-23@tablet lrv-u-font-size-16 u-line-height-125 u-line-height-normal@mobile-max a-truncate-ellipsis u-max-width-245 u-max-width-230@tablet-only u-letter-spacing-0028@tablet']")
    for i in names:
        song_name.append(i.text)
except NoSuchElementException:       
    song_name.append('No details available')
time.sleep(2)

song_name1 = []
try:
    names = driver.find_elements_by_xpath("//h3[@class='c-title  a-no-trucate a-font-primary-bold-s u-letter-spacing-0021 lrv-u-font-size-18@tablet lrv-u-font-size-16 u-line-height-125 u-line-height-normal@mobile-max a-truncate-ellipsis u-max-width-330 u-max-width-230@tablet-only']")
    for i in names:
        song_name1.append(i.text)
except NoSuchElementException:       
    song_name1.append('No details available')
time.sleep(2)

In [10]:
# Adding lists
Names = song_name + song_name1

In [11]:
len(Names)

100

In [12]:
#scraping artist_names 
artist_name = []
try:
    names = driver.find_elements_by_xpath("//span[@class='c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only u-font-size-20@tablet']")
    for i in names:
        artist_name.append(i.text)
except NoSuchElementException:        
    artist_name.append('No details available')
time.sleep(2)

artist_name1 = []
try:
    names = driver.find_elements_by_xpath("//span[@class='c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only']")
    for i in names:
        artist_name1.append(i.text)
except NoSuchElementException:        
    artist_name1.append('No details available')
time.sleep(2)

In [13]:
# Adding lists
artist = artist_name + artist_name1

In [14]:
len(artist)

100

In [87]:
#scraping last week rank
rank = []
try:
    ranks = driver.find_elements_by_xpath("//span[@class='c-label  a-font-primary-bold-l a-font-primary-m@mobile-max u-font-weight-normal@mobile-max lrv-u-padding-tb-050@mobile-max u-font-size-32@tablet']")
    for i in ranks:
        rank.append(i.text)
except NoSuchElementException:        
    rank.append('No details available') 
time.sleep(2)

rank1 = []
try:
    ranks = driver.find_elements_by_xpath("//span[@class='c-label  a-font-primary-m lrv-u-padding-tb-050@mobile-max']")
    for i in ranks:
        rank1.append(i.text)
except NoSuchElementException:
    rank1.append('No details available') 
time.sleep(2)

In [88]:
rank

['', '', '', '1', '1', '8']

In [89]:
rank1

['',
 '',
 '',
 '4',
 '2',
 '57',
 '',
 '',
 '',
 '3',
 '1',
 '19',
 '',
 '',
 '',
 '7',
 '4',
 '13',
 '',
 '',
 '',
 '5',
 '1',
 '32',
 '',
 '',
 '',
 '6',
 '5',
 '15',
 '',
 '',
 '',
 '8',
 '4',
 '23',
 '',
 '',
 '',
 '9',
 '8',
 '21',
 '',
 '',
 '',
 '12',
 '9',
 '22',
 '',
 '',
 '',
 '11',
 '7',
 '6',
 '',
 '',
 '',
 '10',
 '8',
 '8',
 '',
 '',
 '',
 '14',
 '7',
 '24',
 '',
 '',
 '',
 '13',
 '8',
 '36',
 '',
 '',
 '',
 '15',
 '2',
 '34',
 '',
 '',
 '',
 '-',
 '15',
 '1',
 '',
 '',
 '',
 '17',
 '2',
 '67',
 '',
 '',
 '',
 '16',
 '1',
 '30',
 '',
 '',
 '',
 '18',
 '1',
 '59',
 '',
 '',
 '',
 '19',
 '16',
 '8',
 '',
 '',
 '',
 '-',
 '20',
 '1',
 '',
 '',
 '',
 '-',
 '21',
 '1',
 '',
 '',
 '',
 '21',
 '6',
 '15',
 '',
 '',
 '',
 '-',
 '23',
 '6',
 '',
 '',
 '',
 '20',
 '20',
 '7',
 '',
 '',
 '',
 '28',
 '25',
 '17',
 '',
 '',
 '',
 '29',
 '26',
 '29',
 '',
 '',
 '',
 '31',
 '27',
 '13',
 '',
 '',
 '',
 '24',
 '7',
 '11',
 '',
 '',
 '',
 '23',
 '5',
 '13',
 '',
 '',
 '',
 '25',
 '1',
 '40',
 '',
 '',
 '',
 '27',
 '4',
 '24',
 '',
 '',
 '',
 '2',
 '2',
 '2',
 '',
 '',
 '',
 '47',
 '33',
 '19',
 '',
 '',
 '',
 '-',
 '34',
 '1',
 '',
 '',
 '',
 '22',
 '5',
 '15',
 '',
 '',
 '',
 '26',
 '26',
 '22',
 '',
 '',
 '',
 '-',
 '23',
 '21',
 '',
 '',
 '',
 '38',
 '32',
 '31',
 '',
 '',
 '',
 '35',
 '22',
 '28',
 '',
 '',
 '',
 '-',
 '1',
 '24',
 '',
 '',
 '',
 '36',
 '3',
 '35',
 '',
 '',
 '',
 '33',
 '27',
 '7',
 '',
 '',
 '',
 '39',
 '21',
 '23',
 '',
 '',
 '',
 '30',
 '28',
 '33',
 '',
 '',
 '',
 '37',
 '11',
 '33',
 '',
 '',
 '',
 '-',
 '46',
 '1',
 '',
 '',
 '',
 '42',
 '9',
 '32',
 '',
 '',
 '',
 '49',
 '42',
 '4',
 '',
 '',
 '',
 '34',
 '19',
 '7',
 '',
 '',
 '',
 '41',
 '36',
 '7',
 '',
 '',
 '',
 '48',
 '48',
 '12',
 '',
 '',
 '',
 '32',
 '23',
 '18',
 '',
 '',
 '',
 '46',
 '11',
 '6',
 '',
 '',
 '',
 '51',
 '40',
 '21',
 '',
 '',
 '',
 '58',
 '53',
 '8',
 '',
 '',
 '',
 '54',
 '53',
 '14',
 '',
 '',
 '',
 '53',
 '48',
 '7',
 '',
 '',
 '',
 '57',
 '57',
 '8',
 '',
 '',
 '',
 '59',
 '55',
 '6',
 '',
 '',
 '',
 '61',
 '51',
 '21',
 '',
 '',
 '',
 '56',
 '56',
 '13',
 '',
 '',
 '',
 '62',
 '53',
 '10',
 '',
 '',
 '',
 '55',
 '24',
 '5',
 '',
 '',
 '',
 '69',
 '64',
 '6',
 '',
 '',
 '',
 '60',
 '14',
 '9',
 '',
 '',
 '',
 '45',
 '45',
 '19',
 '',
 '',
 '',
 '52',
 '52',
 '2',
 '',
 '',
 '',
 '40',
 '40',
 '2',
 '',
 '',
 '',
 '64',
 '17',
 '19',
 '',
 '',
 '',
 '43',
 '43',
 '2',
 '',
 '',
 '',
 '63',
 '51',
 '3',
 '',
 '',
 '',
 '66',
 '66',
 '8',
 '',
 '',
 '',
 '-',
 '73',
 '1',
 '',
 '',
 '',
 '71',
 '71',
 '5',
 '',
 '',
 '',
 '65',
 '61',
 '20',
 '',
 '',
 '',
 '80',
 '76',
 '3',
 '',
 '',
 '',
 '82',
 '57',
 '3',
 '',
 '',
 '',
 '81',
 '78',
 '4',
 '',
 '',
 '',
 '67',
 '67',
 '5',
 '',
 '',
 '',
 '70',
 '65',
 '9',
 '',
 '',
 '',
 '75',
 '71',
 '5',
 '',
 '',
 '',
 '83',
 '63',
 '6',
 '',
 '',
 '',
 '-',
 '83',
 '1',
 '',
 '',
 '',
 '85',
 '82',
 '3',
 '',
 '',
 '',
 '91',
 '85',
 '3',
 '',
 '',
 '',
 '72',
 '66',
 '13',
 '',
 '',
 '',
 '79',
 '58',
 '12',
 '',
 '',
 '',
 '74',
 '37',
 '20',
 '',
 '',
 '',
 '-',
 '89',
 '1',
 '',
 '',
 '',
 '76',
 '38',
 '5',
 '',
 '',
 '',
 '93',
 '91',
 '3',
 '',
 '',
 '',
 '95',
 '68',
 '4',
 '',
 '',
 '',
 '90',
 '90',
 '6',
 '',
 '',
 '',
 '86',
 '68',
 '16',
 '',
 '',
 '',
 '-',
 '95',
 '1',
 '',
 '',
 '',
 '84',
 '1',
 '14',
 '',
 '',
 '',
 '89',
 '85',
 '5',
 '',
 '',
 '',
 '96',
 '71',
 '5',
 '',
 '',
 '',
 '94',
 '88',
 '5',
 '',
 '',
 '',
 '92',
 '16',
 '16']

In [90]:
ranks = rank + rank1

In [92]:
len(ranks)

600

In [93]:
last_week_rank = ranks[3:600:6]

In [94]:
len(last_week_rank)

100

In [95]:
peak_rank = ranks[4:600:6]

In [96]:
len(peak_rank)

100

In [97]:
weeks = ranks[5:600:6]

In [98]:
len(weeks)

100

In [99]:
df = pd.DataFrame({'Song_Name' : Names, 'Artist_Name' : artist, 'Last_week_rank' : last_week_rank, 'Peak' : peak_rank, 'Weeks_on_chart' : weeks})
df

,Song_Name,Artist_Name,Last_week_rank,Peak,Weeks_on_chart
0,We Don't Talk About Bruno,"Carolina Gaitan, Mauro Castillo, Adassa, Rhenz...",1,1,8
1,Heat Waves,Glass Animals,4,2,57
2,Easy On Me,Adele,3,1,19
3,abcdefu,GAYLE,7,4,13
4,Stay,The Kid LAROI & Justin Bieber,5,1,32
...,...,...,...,...,...
95,All Too Well (Taylor's Version),Taylor Swift,84,1,14
96,Come Back As A Country Boy,Blake Shelton,89,85,5
97,Iffy,Chris Brown,96,71,5
98,Home Sweet,Russell Dickerson,94,88,5
99,Too Easy,Gunna & Future,92,16,16

# Question.7

In [3]:
url = 'https://www.naukri.com/'
driver.get(url)

In [14]:
url = 'https://www.naukri.com/recruiters/'
driver.get(url)

In [15]:
#Sending DataScience in search bar
search_ = driver.find_element_by_xpath('//input[@class="sugInp"]')
search_.send_keys("Data science")

In [16]:
btn = driver.find_element_by_xpath('//button[@class="fl qsbSrch blueBtn"]')
btn.click()
time.sleep(3)

In [17]:
#Creating empty lists
Name = []
Designation = []
Company = []
Skills = []
Location = []

In [18]:
#Scraping data of Names
for i in driver.find_elements_by_xpath("//span[@class='fl ellipsis']"):
    Name.append(i.text)
time.sleep(3)

In [28]:
#Scraping data of Designation
for i in driver.find_elements_by_xpath("//span[@class='ellipsis clr']"):
    Designation.append(i.text)
time.sleep(3)

In [19]:
#Scraping data of company name
for i in driver.find_elements_by_xpath("//div[@class='vcard']//p[1]/a[2]"):
    Company.append(i.text)
time.sleep(3)

In [20]:
#Scraping data of Skills 
for i in driver.find_elements_by_xpath("//div[@class='hireSec highlightable']"):
    try:
        if i.text == "Not Specified": raise NoSuchElementException
        Skills.append(i.text)
    except NoSuchElementException:
        Skills.append('-')
    time.sleep(3)

In [31]:
#Scraping data of locations
for i in driver.find_elements_by_xpath('//small[@class="ellipsis"]'):
    Location.append(i.text)
time.sleep(3)

In [33]:
df = pd.DataFrame({'Name' : Name[:50], 'Designation' : Designation[:50], 'Company' : Company[:50], 'Skills' : Skills[:50], 'Location' : Location[:50]})
df

,Name,Designation,Company,Skills,Location
0,Aakash Harit,HR Manager,Data Science Network,"Classic ASP Developer, Internet Marketing Prof...",Aakash Harit
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,".Net, Java, Data Science, Linux Administration...",HR Manager
2,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,"Data Science, Artificial Intelligence, Machine...",Delhi
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,"Mean Stack, javascript, angularjs, mongodb, We...",shravan Kumar Gaddam
4,subhas patel,Founder CEO,LibraryXProject,"Hadoop, Spark, Digital Strategy, Data Architec...",Company Recruiter
5,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,"Analytics, Business Intelligence, Business Ana...",Hyderabad / Secunderabad
6,Institute for Financial Management and Resear,Programme Manager,IFMR,Data Science,MARSIAN Technologies LLP
7,Balu Ramesh,HR Administrator,Techvantage Systems Pvt Ltd,"Machine Learning, algorithms, Go Getter, Compu...",Company HR
8,Asif Lucknowi,Director,Weupskill- Live Wire India,"Technical Training, Software Development, Pres...",Pune
9,InstaFinancials,Human Resource,CBL Data Science Private Limited,"Software Development, It Sales, Account Manage...",Anik Agrawal
10,Priyanka Akiri,HR Manager,Infinitive Software Solutions,"Oracle Dba, Data Science, Data Warehousing, ET...",Company Recruiter
11,Kalpana Dumpala,Executive Hiring,Innominds Software,"Qa, Ui/ux, Java Developer, Java Architect, C++...",Ahmedabad
12,Mubarak,Company HR,MoneyTap,"Business Intelligence, Data Warehousing, Data ...",subhas patel
13,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,"Office Administration, Hr Administration, tele...",Founder CEO
14,Mahesh Babu Channa,HR Team Lead,SocialPrachar.com,"Social Media, digital media maketing, seo, smm...",UK - (london)
15,Sakshi Chhikara,Assistant Manager HR,BIZ INFOTECNO PRIVATE LIMITED,"React.js, Data Science, Java, Front End, Busin...",Abhishek - Only Analytics Hiring - India and
16,Kapil Devang,HR Manager,BISP Solutions,"Big Data, Hadoop, Data Analytics, Data Science",Recruitment Lead Consultant
17,Ruchi Dhote,Senior Executive Talent Acquisition,Bristlecone India Ltd,"Qlikview, Qlik Sense, Microsoft Azure, Power B...",Vadodara / Baroda
18,Sandhya Khandagale,HR Recruiter,Compumatrice Multimedia Pvt Ltd,"Big Data, Data Science, Artificial Intelligenc...",Institute for Financial Management and Resear
19,Manisha Yadav,HR Executive,Easi Tax,"Telecalling, Client Interaction, Marketing, Re...",Programme Manager
20,Riya Rajesh,Manager Talent Acquisition,Novelworx Digital Solutions,Data Science,Chennai
21,Rashmi Bhattacharjee,HR Head,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,"Corporate Sales, Software Development, Softwar...",Balu Ramesh
22,Faizan Kareem,HR MANAGER,FirstTech Consaltants Pvt.Ltd,"Data Analytics, Data Science, Machine Learning...",HR Administrator
23,Rithika dadwal,HR Recruiter,Affine Analytics,"Data Science, Machine Learning, Python, R, Dee...",Trivandrum
24,Shaun Rao,Manager Human Resources,Exela Technologies,"Java, Net, Angularjs, Hr, Infrastructure, Mana...",Asif Lucknowi
25,Azahar Shaikh,Company Recruiter,NEAL ANALYTICS SERVICES PVT LTD,"Data Science, Artificial Intelligence, Machine...",Director
26,Manas,Lead Talent acquisition,Autumn Leaf Consulting Services Private...,"Software Architecture, Vp Engineering, Product...",Indore
27,kumar,Proprietor,trainin,"Data Science, Hadoop, Rpas, Devops, Python, Aw...",InstaFinancials
28,Sunil Vedula,CEO,Nanoprecise Sci Corp,"Signal Processing, Machine Learning, Neural Ne...",Human Resource
29,Rajat Kumar,Founder CEO,R.S Consultancy &amp; Services,"Web Technologies, Project Management, Software...",Bengaluru / Bangalore
30,Dhruv Dev Dubey,Company Recruitment Head,Confidential,"Server Administartion, Verilog, Vhdl, Digital ...",Priyanka Akiri
31,Avodha,Business Development Associate,Nikitha Palaparthi,"Ethical Hacking, Security Operations Center, S...",HR Manager
32,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd","Data Analytics, Managed Services, Team Leading...",Hyderabad
33,Priya Khare,Senior Manager,Independent Consultant,"Data Science, Artificial Intelligence, analyti...",Kalpana Dumpala
34,Amit Sharma,Consultant,ASCO consulting,"Machine Learning, Artificial Intelligence, Dat...",Executive Hiring
35,Kanan,senior technology instructor,NY INST,"C, C++, Artificial Intelligence, Python, Php, ...",Hyderabad / Secunderabad
36,Shashikant Chaudhary,HR Recruiter/HR Excutive,3D India Staffing Research &amp; Consulting...,"Relationship Management, Retail Sales, Private...",Mubarak
37,Brad,"Manager, Technical Recruiting",O.C. Tanner,"Data Science, Software Engineering",Company HR
38,Rutuja Pawar,Technical Recruiter,Demand Matrix,"Data Science, Big Data Analytics, Digital Mark...",Bengaluru / Bangalore
39,Madhusudhan Sridhar,Erp Implementer,MADHUSUDHAN SRIDHAR,"Data Science, Recruitment, Salary",Kushal Rastogi
40,Ankit Sinha,Head Analytics,Suntech Global,"B.Tech, Tableau, Statistics, R, Analytics, Tim...",Company HR
41,Gaurav Chouhan,Chief Technical Officer,Strategic Consulting Lab,"Software Development, Business Intelligence, B...",Mumbai
42,Rashi Kacker,Sr Product Manager,Impel Labs Pvt. Ltd.,"Data Science, Node.js, Angularjs",Mahesh Babu Channa
43,Ashwini,Director Global Delivery,MRP Advisers,"Data Science, Media Marketing, Resource Planni...",HR Team Lead
44,Balaji Kolli,Co Founder,Saras Solutions India Pvt Ltd,"Data Analysis, Learning, Data Science, Compute...",Hyderabad / Secunderabad
45,Rajani Nagaraj,HR Manager,WildJasmine,"Java, Hadoop, R, Machine Learning, Spark, Flum...",Sakshi Chhikara
46,ROHIT Kumar,Architect,LNT Private Limited,"Software Development, Core Java, Unit Testing,...",Assistant Manager HR
47,Amir Chowdhury,Managing Partner,Granular.ai,"Machine Learning, Data Science, Product Manage...",Chandigarh
48,Radha Manivasagam,HR Executive,Techcovery,"Python, Artificial Intelligence, Machine Learn...",Kapil Devang
49,SREEDHAR,Recruitment Consultant,JOBSMILL BUSINESS SOLUTIONS PRIVATE LIMITED,"Data Science, Machine Learning, Big Data Analy...",HR Manager

# Question.8

In [40]:
url = 'https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/'
driver.get(url)

In [41]:
#finding details of books(title,author,vol,genre,publisher)
title = []
for i in driver.find_elements_by_xpath('//div[@class="embed block"]/table/tbody/tr/td[2]'):
    title.append(i.text.replace('/n',''))
author = []
for i in driver.find_elements_by_xpath('//div[@class="embed block"]/table/tbody/tr/td[3]'):
    author.append(i.text.replace('/n',''))
vol = []
for i in driver.find_elements_by_xpath('//div[@class="embed block"]/table/tbody/tr/td[4]'):
    vol.append(i.text.replace('/n',''))
genre = []
for i in driver.find_elements_by_xpath('//div[@class="embed block"]/table/tbody/tr/td[6]'):
    genre.append(i.text.replace('/n',''))
publisher = []
for i in driver.find_elements_by_xpath('//div[@class="embed block"]/table/tbody/tr/td[5]'):
    publisher.append(i.text.replace('/n',''))

In [43]:
df = pd.DataFrame({'Book Title' : title, 'Author' : author, 'Volume Sale' : vol, 'Publisher' : publisher, 'Genre' : genre})
df

,Book Title,Author,Volume Sale,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

# Question.9

In [44]:
url = 'https://www.imdb.com/list/ls095964455/'
driver.get(url)

In [45]:
#fetched the required data by finding paths for individual columns(name,yr,genre,run time,rating,votes)
name_ = []
for i in driver.find_elements_by_xpath('//h3[@class="lister-item-header"]/a[1]'):
    name_.append(i.text.replace('/n',''))
yr = []
for i in driver.find_elements_by_xpath('//h3[@class="lister-item-header"]/span[2]'):
    yr.append(i.text.replace('/n',''))
Genre = []
for i in driver.find_elements_by_xpath('//p[@class="text-muted text-small"]/span[5]'):
    Genre.append(i.text.replace('/n',''))
rating = []
for i in driver.find_elements_by_xpath('//div[@class="ipl-rating-star small"]/span[2]'):
    rating.append(i.text.replace('/n',''))
votes = []
for i in driver.find_elements_by_xpath('//div[@class="lister-item mode-detail"]/div[2]/p[4]/span[2]'):
    votes.append(i.text.replace('/n',''))
rtime = []
for i in driver.find_elements_by_xpath('//div[@class="lister-item mode-detail"]/div[2]/p[1]/span[3]'):
    rtime.append(i.text.replace('/n',''))

In [46]:
df = pd.DataFrame({'Name' : name_, 'Year Span' : yr, 'Genre' : Genre, 'Ratings' : rating, 'Number of votes' : votes, 'Run time' : rtime})
df

,Name,Year Span,Genre,Ratings,Number of votes,Run time
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",9.2,"1,957,211",57 min
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",8.7,"966,872",51 min
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",8.1,"932,298",44 min
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",7.5,"279,122",60 min
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",7.6,"239,296",43 min
...,...,...,...,...,...,...
95,Reign,(2013–2017),"Drama, Fantasy",7.5,"47,817",42 min
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",7.8,"58,540",50 min
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",8.1,"185,856",42 min
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",7.1,"39,348",45 min
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",8.6,"222,161",572 min

# Question.10

In [60]:
url = 'https://archive.ics.uci.edu/'
driver.get(url)

In [61]:
#Clicking on view all datasets link
datasets=driver.find_element_by_xpath("/html/body/table[1]/tbody/tr/td[2]/span[2]/a/font/b")
try:
    datasets.click()
except ElementNotInteractableException:
    driver.get(datasets.get_attribute('href'))

In [62]:
#Creating empty lists for storing the data
Name=[]
Type=[]
Task=[]
Attribute=[]
No_of_Instance=[]
No_of_Attribute=[]
Year=[]

In [63]:
#Scrapping the data having dataset name
try:
    names = driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[1]/table/tbody/tr/td[2]/p/b/a")
    for i in names:
        Name.append(i.text)
except NoSuchElementException:
    Name.append('-')

In [64]:
#Scrapping the data having data type
try:
    types = driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[2]")
    for i in types[1:]:
        Type.append(i.text)
except NoSuchElementException:
    Type.append('-')

In [65]:
#Scrapping the data having default task
try:
    task = driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[3]")
    for i in task[1:]:
        Task.append(i.text)
except NoSuchElementException:
    Task.append('-')

In [66]:
#Scrapping the data having attribute types
try:
    attribute = driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[4]")
    for i in attribute[1:]:
        Attribute.append(i.text)
except NoSuchElementException:
     Attribute.append('-')

In [67]:
#Scrapping the data having no of instances
try:
    instance = driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[5]")
    for i in instance[1:]:
        No_of_Instance.append(i.text)
except NoSuchElementException:
    No_of_Instance.append('-')

In [68]:
#Scrapping the data having no of attributes
try:
    attribute_no = driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[6]")
    for i in attribute_no[1:]:
        No_of_Attribute.append(i.text)
except NoSuchElementException:
    No_of_Attribute.append('-')

In [69]:
#Scrapping the data having the year details
try:
    year = driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[7]")
    for i in year[1:]:
        Year.append(i.text)
except NoSuchElementException:
    Year.append('-')

In [70]:
df = pd.DataFrame({"Name" : Name, "Data types" : Type, "Default Task" : Task, "Attribute types" : Attribute,  "No of instances" : No_of_Instance, "No of atrributes" : No_of_Attribute, "Year" : Year})
df

,Name,Data types,Default Task,Attribute types,No of instances,No of atrributes,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
617,Influenza outbreak event prediction via Twitte...,Multivariate,Classification,"Integer, Real",75840,525,2020
618,Turkish Music Emotion Dataset,Multivariate,Classification,"Integer, Real",400,50,2020
619,Maternal Health Risk Data Set,,Classification,,1014,7,2020
620,Room Occupancy Estimation,"Multivariate, Time-Series",Classification,Real,10129,16,2021
621,Image Recognition Task Execution Times in Mobi...,Univariate,Regression,Real,4000,2,2021