Installing Selenium Library

In [1]:
!pip install selenium

Requirement already satisfied: selenium in ./opt/anaconda3/lib/python3.8/site-packages (4.1.0)
Requirement already satisfied: urllib3[secure]~=1.26 in ./opt/anaconda3/lib/python3.8/site-packages (from selenium) (1.26.4)
Requirement already satisfied: trio-websocket~=0.9 in ./opt/anaconda3/lib/python3.8/site-packages (from selenium) (0.9.2)
Requirement already satisfied: trio~=0.17 in ./opt/anaconda3/lib/python3.8/site-packages (from selenium) (0.19.0)
Requirement already satisfied: async-generator>=1.9 in ./opt/anaconda3/lib/python3.8/site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: sniffio in ./opt/anaconda3/lib/python3.8/site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: idna in ./opt/anaconda3/lib/python3.8/site-packages (from trio~=0.17->selenium) (2.10)
Requirement already satisfied: sortedcontainers in ./opt/anaconda3/lib/python3.8/site-packages (from trio~=0.17->selenium) (2.3.0)
Requirement already satisfied: attrs>=19.2.0 in ./opt/anaconda3/lib/python3.8/site-packages (from trio~=0.17->selenium) (20.3.0)
Requirement already satisfied: outcome in ./opt/anaconda3/lib/python3.8/site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: wsproto>=0.14 in ./opt/anaconda3/lib/python3.8/site-packages (from trio-websocket~=0.9->selenium) (1.0.0)
Requirement already satisfied: certifi in ./opt/anaconda3/lib/python3.8/site-packages (from urllib3[secure]~=1.26->selenium) (2020.12.5)
Requirement already satisfied: cryptography>=1.3.4 in ./opt/anaconda3/lib/python3.8/site-packages (from urllib3[secure]~=1.26->selenium) (3.4.7)
Requirement already satisfied: pyOpenSSL>=0.14 in ./opt/anaconda3/lib/python3.8/site-packages (from urllib3[secure]~=1.26->selenium) (20.0.1)
Requirement already satisfied: cffi>=1.12 in ./opt/anaconda3/lib/python3.8/site-packages (from cryptography>=1.3.4->urllib3[secure]~=1.26->selenium) (1.14.5)
Requirement already satisfied: pycparser in ./opt/anaconda3/lib/python3.8/site-packages (from cffi>=1.12->cryptography>=1.3.4->urllib3[secure]~=1.26->selenium) (2.20)
Requirement already satisfied: six>=1.5.2 in ./opt/anaconda3/lib/python3.8/site-packages (from pyOpenSSL>=0.14->urllib3[secure]~=1.26->selenium) (1.15.0)
Requirement already satisfied: h11<1,>=0.9.0 in ./opt/anaconda3/lib/python3.8/site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.12.0)

In [2]:
#Importing Necessary Library
import selenium
from selenium import webdriver
import pandas as pd
import time
from time import sleep
import warnings
warnings.filterwarnings("ignore")

In [3]:
#Installing Driver for Macbook
driver = webdriver.Chrome(r'/Users/rishabh/Desktop/chromedriver')

# Question.1

In [4]:
url = 'https://www.naukri.com/'
driver.get(url)

In [5]:
#Finding web element for search job bar using id
search_job = driver.find_element_by_xpath('//input[@class="suggestor-input "]')
search_job

In [6]:
#Write on search bar
search_job.send_keys('Data Analyst')

In [7]:
#finding web element for search location bar using absolute xpath
search_loc = driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input")
search_loc

In [8]:
search_loc.send_keys("Banglore")

In [9]:
#clicking using xpath.
search_button = driver.find_element_by_xpath('//div[@class="qsbSubmit"]')
search_button

In [10]:
search_button.click()

# SCRAPING THE DATA

Extracting job titles

In [11]:
#Extracting all the elements having job titles.
title_tags = driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
len(title_tags)

20

In [12]:
job_title = []

for i in title_tags:
    job_title.append(i.text)
    
len(job_title)

20

Extracting company names

In [13]:
company_tags = driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
len(company_tags)

20

In [14]:
company_name = []

for i in company_tags:
    company_name.append(i.text)
    
len(company_name)

20

Extracting job location using Parent tag

In [15]:
loc_tags = driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
len(loc_tags)

20

In [16]:
location = []

for i in loc_tags:
    location.append(i.text)
    
len(location)

20

Extracting Experience using Parent tag

In [17]:
exp_tags = driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]')
len(exp_tags)

20

In [18]:
experience = []

for i in exp_tags:
    experience.append(i.text)
    
len(experience)

20

Selecting First 10 jobs.

In [19]:
job = job_title[:10]
company = company_name[:10]
locations = location[:10]
exp = experience[:10]

Making DataFrame

In [20]:
Jobs = pd.DataFrame({'Job Title' : job, 'Company' : company, 'Experience' : exp, 'Location' : locations})
Jobs

,Job Title,Company,Experience,Location
0,Hiring Data Analyst For Global Logic-Immediate...,GlobalLogic,4-8 Yrs,"Noida, Nagpur, Pune, Gurgaon/Gurugram, Bangalo..."
1,Senior Data Analyst,Flipkart,4-6 Yrs,Bengaluru/Bangalore
2,Junior Data Analyst/ Scientist- Fresher Position,Sejal Consulting Hub,0-3 Yrs,"Kolkata, Gurgaon/Gurugram, Bangalore/Bengaluru..."
3,Assistant Clinical Data Analyst,Labcorp Drug Development India Private Limited,0-2 Yrs,Bangalore/Bengaluru
4,Lead - Data Analyst / Scientist,Axim Technologies,12-14 Yrs,Bangalore/Bengaluru
5,Data Analyst / Sr. Data Analyst,Vmware,3-6 Yrs,Bangalore/Bengaluru
6,Senior Data Analyst - CRM,Gojek Tech,2-5 Yrs,Bangalore/Bengaluru
7,Senior Data Analyst - Supporting Audits,Visa,5-8 Yrs,Bangalore/Bengaluru
8,Research - Data Analyst / Associate,AXL HR Tech,0-2 Yrs,"Mumbai, Delhi / NCR, Bangalore/Bengaluru"
9,SAM Data Analyst,Nokia,1-2 Yrs,"Noida, Mumbai, Bangalore/Bengaluru"

# Question.2

In [28]:
url = 'https://www.naukri.com/'
driver.get(url)

In [29]:
#Finding web element for search job bar using xpath
search_job = driver.find_element_by_xpath('//input[@class="suggestor-input "]')
search_job

In [30]:
#Write on search bar
search_job.send_keys('Data Scientist')

In [31]:
#finding web element for search location bar using absolute xpath
search_loc = driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input")
search_loc

In [32]:
search_loc.send_keys("Banglore")

In [33]:
#clicking using xpath.
search_button = driver.find_element_by_xpath('//div[@class="qsbSubmit"]')
search_button

In [34]:
search_button.click()

time.sleep(3)

# SCRAPING THE DATA

Extracting job titles

In [35]:
#Extracting all the elements having job titles.
title_tags = driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
len(title_tags)

20

In [36]:
job_title = []

for i in title_tags:
    job_title.append(i.text)
    
len(job_title)

20

Extracting company names

In [37]:
company_tags = driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
len(company_tags)

20

In [38]:
company_name = []

for i in company_tags:
    company_name.append(i.text)
    
len(company_name)

20

Extracting job location using Parent tag

In [39]:
loc_tags = driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
len(loc_tags)

20

In [40]:
location = []

for i in loc_tags:
    location.append(i.text)
    
len(location)

20

Selecting First 10 jobs.

In [41]:
job = job_title[:10]
company = company_name[:10]
locations = location[:10]

Making DataFrame

In [42]:
Dsjobs = pd.DataFrame({'Job Title' : job, 'Company' : company, 'Location' : locations})
Dsjobs

,Job Title,Company,Location
0,Data Scientist: Advanced Analytics,IBM,Bangalore/Bengaluru
1,Data Scientist: Advanced Analytics,IBM,Bengaluru/Bangalore
2,Sr . Data Scientist,Harman Connected Services Corporation India Pvt.,Bangalore/Bengaluru
3,Senior Data Scientist,Slice,Bangalore/Bengaluru
4,Sr Data Scientist,Siemens,Bangalore/Bengaluru
5,Senior Data Scientist,Dell,Bangalore/Bengaluru
6,Senior Data Scientist,Dell,Bangalore/Bengaluru
7,Senior Data Scientist - Python/Machine Learnin...,Altimax Business Solutions,"Mumbai, Hyderabad/Secunderabad, Pune, Bangalor..."
8,Senior/Lead Data Scientist - (Revenue Management),o9 Solutions Management India Private Limited,Bangalore/Bengaluru
9,Senior/Lead - Data Scientist (Supply Chain),o9 Solutions Management India Private Limited,Bangalore/Bengaluru

# Question.3

In [43]:
url = 'https://www.naukri.com/'
driver.get(url)

In [44]:
#Finding web element for search job bar using xpath
search_job = driver.find_element_by_xpath('//input[@class="suggestor-input "]')
search_job

In [45]:
#Write on search bar
search_job.send_keys('Data Scientist')

In [46]:
#clicking using xpath.
search_button = driver.find_element_by_xpath('//div[@class="qsbSubmit"]')
search_button

In [47]:
search_button.click()

time.sleep(3)

In [48]:
#Selecting Location Filter
locc = driver.find_element_by_xpath('//div[@class="mt-8 chckBoxCont"][3]')

In [49]:
locc.click()

In [50]:
#Selecting Salary Filter
sall = driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[2]/div[2]/div[1]/label/i')

In [51]:
sall.click()

# SCRAPING THE DATA

Extracting job titles

In [52]:
#Extracting all the elements having job titles.
title_tags = driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
len(title_tags)

20

In [53]:
job_title = []

for i in title_tags:
    job_title.append(i.text)
    
len(job_title)

20

Extracting company names

In [54]:
company_tags = driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
len(company_tags)

20

In [55]:
company_name = []

for i in company_tags:
    company_name.append(i.text)
    
len(company_name)

20

Extracting job location using Parent tag

In [56]:
loc_tags = driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
len(loc_tags)

20

In [57]:
location = []

for i in loc_tags:
    location.append(i.text)
    
len(location)

20

Extracting Experience using Parent tag

In [58]:
exp_tags = driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]')
len(exp_tags)

20

In [59]:
experience = []

for i in exp_tags:
    experience.append(i.text)
    
len(experience)

20

Selecting First 10 jobs.

In [60]:
job = job_title[:10]
company = company_name[:10]
locations = location[:10]
exp = experience[:10]

Making DataFrame

In [61]:
DSJobs = pd.DataFrame({'Job Title' : job, 'Company' : company, 'Experience' : exp, 'Location' : locations})
DSJobs

,Job Title,Company,Experience,Location
0,Data Scientist / Senior DS/ Team Lead,NebulARC Technologies Private Limited,0-4 Yrs,"Mumbai, Gurgaon/Gurugram(Cyber City +1)"
1,Job Opportunity || Data Scientist || HCL Techn...,HCL,2-6 Yrs,Delhi / NCR
2,Hiring For Data Analyst / Data Scientist,Careerera,2-5 Yrs,Noida(Sector-59 Noida)
3,Senior Data Scientist I,Delhivery,3-7 Yrs,Gurgaon/Gurugram
4,Data Scientist,Core Diagnostics Private Limited,2-7 Yrs,Gurgaon/Gurugram(Uday Nagar)
5,Data Scientist | Python | Machine Learning | D...,Schlesinger Group,0-3 Yrs,"Noida, Gurgaon/Gurugram, Delhi / NCR"
6,Openings For Jr/mid/Sr level data Scientists,Pluto seven business solutions (p) limited,2-6 Yrs,"Kolkata, Hyderabad/Secunderabad, Pune, Ahmedab..."
7,Data Scientist,T & A Solutions,2-6 Yrs,Gurgaon/Gurugram
8,Urgent Hiring For Data Scientist,Mount Talent Consulting Private Limited,1-6 Yrs,"Gurgaon/Gurugram, Bangalore/Bengaluru"
9,Urgent Hiring For Data Scientist,Mount Talent Consulting Private Limited,1-6 Yrs,"Gurgaon/Gurugram, Bangalore/Bengaluru"

# Question.4

In [62]:
url = 'https://www.flipkart.com/'
driver.get(url)

In [63]:
#Cancelling the login popup that appears.
cancel = driver.find_element_by_xpath('//button[@class="_2KpZ6l _2doB4z"]')
cancel.click()

In [64]:
search_product = driver.find_element_by_xpath('//input[@class="_3704LK"]')

In [65]:
search_product.send_keys('Sunglasses')

In [66]:
search_click = driver.find_element_by_xpath('//button[@class="L0Z3Pu"]')

In [67]:
search_click.click()

time.sleep(3)

# Scraping The Element

Extracting Data from Page1

In [68]:
brand = driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')[:40]

In [69]:
brand_name1 = []

for i in brand:
    brand_name1.append(i.text)
    
len(brand_name1)

40

In [70]:
pd = driver.find_elements_by_xpath('//a[@class="IRpwTa"]')[:40]

In [71]:
description1 = []

for i in pd:
    description1.append(i.text)
    
len(description1)

40

In [72]:
price = driver.find_elements_by_xpath('//div[@class="_30jeq3"]')[:40]

In [73]:
price1 = []

for i in price:
    price1.append(i.text)
    
len(price1)

40

In [74]:
dis = driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]')[:40]

In [75]:
discount1 = []

for i in dis:
    discount1.append(i.text)
    
len(discount1)

40

Moving to Next Page i.e. Page2

In [76]:
try:
    next_pg = driver.find_element_by_xpath('//a[@class="_1LKTO3"][2]')
    next_pg.click()
except:
    next_pg = driver.find_element_by_xpath('//a[@class="_1LKTO3"]')  
    next_pg.click()

In [77]:
next_pg.click()

Extracting Data from Page2

In [78]:
brand = driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')[:40]

brand_name2 = []

for i in brand:
    brand_name2.append(i.text)
    
len(brand_name2)

40

In [92]:
pd = driver.find_elements_by_xpath('//a[@class="IRpwTa"]')[:40]

description2 = []

for i in pd:
    description2.append(i.text)
    
len(description2)

40

In [80]:
price = driver.find_elements_by_xpath('//div[@class="_30jeq3"]')[:40]

price2 = []

for i in price:
    price2.append(i.text)
    
len(price2)

40

In [81]:
dis = driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]')[:40]

discount2 = []

for i in dis:
    discount2.append(i.text)
    
len(discount2)

40

Moving to Next Page i.e. Page3

In [82]:
try:
    next_pg = driver.find_element_by_xpath('//a[@class="_1LKTO3"][2]') #for next page using indexing
    next_pg.click()
except:
    next_pg = driver.find_element_by_xpath('//a[@class="_1LKTO3"]')  
    next_pg.click()

In [77]:
next_pg.click()

Extracting Data from Page3

In [83]:
brand = driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')[:20]

brand_name3 = []

for i in brand:
    brand_name3.append(i.text)
    
len(brand_name3)

20

In [84]:
pd = driver.find_elements_by_xpath('//a[@class="IRpwTa"]')[:20]

description3 = []

for i in pd:
    description3.append(i.text)
    
len(description3)

20

In [85]:
price = driver.find_elements_by_xpath('//div[@class="_30jeq3"]')[:20]

price3 = []

for i in price:
    price3.append(i.text)
    
len(price3)

20

In [86]:
dis = driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]')[:20]

discount3 = []

for i in dis:
    discount3.append(i.text)
    
len(discount3)

20

Adding all the lists together

In [87]:
brand_name = brand_name1 + brand_name2 + brand_name3
len(brand_name)

100

In [93]:
description = description1 + description2 + description3
len(description)

100

In [89]:
prices = price1 + price2 + price3
len(prices)

100

In [90]:
discount = discount1 + discount2 + discount3
len(discount)

100

Making DataFrame

In [95]:
import pandas as pd

In [96]:
df = pd.DataFrame({'Brand Name':brand_name, 'Brand Description':description, 'Price':prices, 'Discount':discount})
df

,Brand Name,Brand Description,Price,Discount
0,VILLAIN,Others Retro Square Sunglasses (Free Size),549,26% off
1,SKYZA INDIA,"Polarized, UV Protection Sports Sunglasses (Fr...",495,72% off
2,PIRASO,UV Protection Aviator Sunglasses (54),200,87% off
3,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),759,15% off
4,Elligator,UV Protection Round Sunglasses (54),248,90% off
...,...,...,...,...
95,AISLIN,"UV Protection, Gradient Wayfarer Sunglasses (60)",675,68% off
96,kingsunglasses,UV Protection Rectangular Sunglasses (Free Size),192,82% off
97,hipe,"UV Protection, Gradient, Mirrored, Riding Glas...",189,85% off
98,ROZZETTA CRAFT,UV Protection Round Sunglasses (Free Size),426,84% off
99,AISLIN,"UV Protection, Gradient Cat-eye Sunglasses (61)",459,73% off

# Question.5

In [97]:
url = 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes- earpods-power- adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKC TSVZAXUHGREPBFGI&marketplace.'
driver.get(url)

Opening all reviews

In [98]:
all_review = driver.find_element_by_xpath('//div[@class="_3UAT2v _16PBlm"]')

In [99]:
all_review.click()

# SCRAPING THE DATA

Extracting Page1 data:

In [100]:
rating = driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')

rating1 = []

for i in rating:
    rating1.append(i.text)
    
len(rating1)

10

In [101]:
review = driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')

summary1 = []

for i in review:
    summary1.append(i.text)
    
len(summary1)

10

In [102]:
fullr = driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')

Fullr1 = []

for i in fullr:
    Fullr1.append(i.text)
    
len(Fullr1)

10

Moving to page2 data:

In [103]:
try:
    next_pg = driver.find_element_by_xpath('//a[@class="_1LKTO3"][2]')
    next_pg.click()
except:
    next_pg = driver.find_element_by_xpath('//a[@class="_1LKTO3"]')  
    next_pg.click()

In [104]:
next_pg.click()

In [105]:
rating = driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')

rating2 = []

for i in rating:
    rating2.append(i.text)
    
len(rating2)

10

In [106]:
review = driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')

summary2 = []

for i in review:
    summary2.append(i.text)
    
len(summary2)

10

In [107]:
fullr = driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')

Fullr2 = []

for i in fullr:
    Fullr2.append(i.text)
    
len(Fullr2)

10

Moving to page3 data:

In [108]:
try:
    next_pg = driver.find_element_by_xpath('//a[@class="_1LKTO3"][2]') #for next page using indexing
    next_pg.click()
except:
    next_pg = driver.find_element_by_xpath('//a[@class="_1LKTO3"]')  
    next_pg.click()

In [109]:
next_pg.click()

In [110]:
rating = driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')

rating3 = []

for i in rating:
    rating3.append(i.text)
    
len(rating3)

10

In [111]:
review = driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')

summary3 = []

for i in review:
    summary3.append(i.text)
    
len(summary3)

10

In [112]:
fullr = driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')

Fullr3 = []

for i in fullr:
    Fullr3.append(i.text)
    
len(Fullr3)

10

Moving to page4 data:

In [113]:
try:
    next_pg = driver.find_element_by_xpath('//a[@class="_1LKTO3"][2]') #for next page using indexing
    next_pg.click()
except:
    next_pg = driver.find_element_by_xpath('//a[@class="_1LKTO3"]')  
    next_pg.click()

In [114]:
next_pg.click()

In [150]:
rating = driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')

rating4 = []

for i in rating:
    rating4.append(i.text)
    
len(rating4)

10

In [116]:
review = driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')

summary4 = []

for i in review:
    summary4.append(i.text)
    
len(summary4)

10

In [117]:
fullr = driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')

Fullr4 = []

for i in fullr:
    Fullr4.append(i.text)
    
len(Fullr4)

10

Moving to page5 data:

In [118]:
try:
    next_pg = driver.find_element_by_xpath('//a[@class="_1LKTO3"][2]') #for next page using indexing
    next_pg.click()
except:
    next_pg = driver.find_element_by_xpath('//a[@class="_1LKTO3"]')  
    next_pg.click()

In [119]:
next_pg.click()

In [120]:
rating = driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')

rating5 = []

for i in rating:
    rating5.append(i.text)
    
len(rating5)

10

In [121]:
review = driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')

summary5 = []

for i in review:
    summary5.append(i.text)
    
len(summary5)

10

In [122]:
fullr = driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')

Fullr5 = []

for i in fullr:
    Fullr5.append(i.text)
    
len(Fullr5)

10

Moving to page6 data:

In [123]:
try:
    next_pg = driver.find_element_by_xpath('//a[@class="_1LKTO3"][2]') #for next page using indexing
    next_pg.click()
except:
    next_pg = driver.find_element_by_xpath('//a[@class="_1LKTO3"]')  
    next_pg.click()

In [124]:
next_pg.click()

In [125]:
rating = driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')

rating6 = []

for i in rating:
    rating6.append(i.text)
    
len(rating6)

10

In [126]:
review = driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')

summary6 = []

for i in review:
    summary6.append(i.text)
    
len(summary6)

10

In [127]:
fullr = driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')

Fullr6 = []

for i in fullr:
    Fullr6.append(i.text)
    
len(Fullr6)

10

Moving to page7 data:

In [128]:
try:
    next_pg = driver.find_element_by_xpath('//a[@class="_1LKTO3"][2]') #for next page using indexing
    next_pg.click()
except:
    next_pg = driver.find_element_by_xpath('//a[@class="_1LKTO3"]')  
    next_pg.click()

In [129]:
next_pg.click()

In [149]:
rating = driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')

rating7 = []

for i in rating:
    rating7.append(i.text)
    
len(rating7)

10

In [131]:
review = driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')

summary7 = []

for i in review:
    summary7.append(i.text)
    
len(summary7)

10

In [132]:
fullr = driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')

Fullr7 = []

for i in fullr:
    Fullr7.append(i.text)
    
len(Fullr7)

10

Moving to page8 data:

In [133]:
try:
    next_pg = driver.find_element_by_xpath('//a[@class="_1LKTO3"][2]') #for next page using indexing
    next_pg.click()
except:
    next_pg = driver.find_element_by_xpath('//a[@class="_1LKTO3"]')  
    next_pg.click()

In [134]:
next_pg.click()

In [148]:
rating = driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')

rating8 = []

for i in rating:
    rating8.append(i.text)
    
len(rating8)

10

In [136]:
review = driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')

summary8 = []

for i in review:
    summary8.append(i.text)
    
len(summary8)

10

In [137]:
fullr = driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')

Fullr8 = []

for i in fullr:
    Fullr8.append(i.text)
    
len(Fullr8)

10

Moving to page9 data:

In [138]:
try:
    next_pg = driver.find_element_by_xpath('//a[@class="_1LKTO3"][2]') #for next page using indexing
    next_pg.click()
except:
    next_pg = driver.find_element_by_xpath('//a[@class="_1LKTO3"]')  
    next_pg.click()

In [139]:
next_pg.click()

In [140]:
rating = driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')

rating9 = []

for i in rating:
    rating9.append(i.text)

len(rating9)

10

In [141]:
review = driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')

summary9 = []

for i in review:
    summary9.append(i.text)
    
len(summary9)

10

In [142]:
fullr = driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')

Fullr9 = []

for i in fullr:
    Fullr9.append(i.text)
    
len(Fullr9)

10

Moving to page10 data:

In [143]:
try:
    next_pg = driver.find_element_by_xpath('//a[@class="_1LKTO3"][2]') #for next page using indexing
    next_pg.click()
except:
    next_pg = driver.find_element_by_xpath('//a[@class="_1LKTO3"]')  
    next_pg.click()

In [144]:
next_pg.click()

In [145]:
rating = driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')

rating10 = []

for i in rating:
    rating10.append(i.text)
    
len(rating10)

10

In [146]:
review = driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')

summary10 = []

for i in review:
    summary10.append(i.text)
    
len(summary10)

10

In [147]:
fullr = driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')

Fullr10 = []

for i in fullr:
    Fullr10.append(i.text)
    
len(Fullr10)

10

Adding All Lists together:

In [151]:
Rating = rating1 + rating2 + rating3+ rating4 + rating5 + rating6 + rating7 + rating8 + rating9 + rating10

In [152]:
len(Rating)

100

In [153]:
Review = summary1 + summary2 + summary3 + summary4 + summary5 + summary6 + summary7 + summary8 + summary9 + summary10

In [154]:
len(Review)

100

In [155]:
Full_Review = Fullr1 + Fullr2 + Fullr3 + Fullr4 + Fullr5 + Fullr6 + Fullr7 + Fullr8 + Fullr9 + Fullr10

In [156]:
len(Full_Review)

100

Making DataFrame

In [157]:
import pandas as pd

Making DataFrame

In [158]:
iphone = pd.DataFrame({'Ratings':Rating, 'Review summary':Review, 'Review Description':Full_Review})

In [159]:
iphone

,Ratings,Review summary,Review Description
0,5,Brilliant,The Best Phone for the Money\n\nThe iPhone 11 ...
1,5,Simply awesome,Really satisfied with the Product I received.....
2,5,Perfect product!,Amazing phone with great cameras and better ba...
3,5,Best in the market!,Great iPhone very snappy experience as apple k...
4,5,Worth every penny,Previously I was using one plus 3t it was a gr...
...,...,...,...
95,5,Just wow!,The ultimate performance\nCamera is superb\nTh...
96,5,Terrific purchase,I use a Note10+ and have been using both iOS a...
97,5,Awesome,The phone is completely good\nAs far as camera...
98,3,Decent product,Everything u ll like it when u use this iPhone...
99,5,Wonderful,Nice value for money good and best price I pho...

# Question.6

In [160]:
url = 'https://www.flipkart.com/'
driver.get(url)

In [161]:
search_product = driver.find_element_by_xpath('//input[@class="_3704LK"]')

In [162]:
search_product.send_keys('Sneakers')

In [163]:
search_click = driver.find_element_by_xpath('//button[@class="L0Z3Pu"]')

In [164]:
search_click.click()

time.sleep(3)

# SCRAPING THE DATA

Extracting Page1 data:

In [166]:
brand = driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')[:40]

brand_name1 = []

for i in brand:
    brand_name1.append(i.text)
    
len(brand_name1)

40

In [167]:
pd = driver.find_elements_by_xpath('//a[@class="IRpwTa"]')

description1 = []

for i in pd:
    description1.append(i.text)
   
len(description1)

34

In [168]:
price = driver.find_elements_by_xpath('//div[@class="_30jeq3"]')[:40]

price1 = []

for i in price:
    price1.append(i.text)
    
len(price1)

40

In [169]:
dis = driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]')[:40]

discount1 = []

for i in dis:
    discount1.append(i.text)
    
len(discount1)

40

Moving to Page2:

In [171]:
try:
    next_pg = driver.find_element_by_xpath('//a[@class="_1LKTO3"][2]')
    next_pg.click()
except:
    next_pg = driver.find_element_by_xpath('//a[@class="_1LKTO3"]')  
    next_pg.click()

In [172]:
next_pg.click()

In [173]:
brand = driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')[:40]

brand_name2 = []

for i in brand:
    brand_name2.append(i.text)
    
len(brand_name2)

40

In [174]:
pd = driver.find_elements_by_xpath('//a[@class="IRpwTa"]')

description2 = []

for i in pd:
    description2.append(i.text)
    
len(description2)

30

In [175]:
price = driver.find_elements_by_xpath('//div[@class="_30jeq3"]')[:40]

price2 = []

for i in price:
    price2.append(i.text)
    
len(price2)

40

In [176]:
dis = driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]')[:40]

discount2 = []
for i in dis:
    discount2.append(i.text)
    
len(discount2)

39

Moving to Page3:

In [177]:
try:
    next_pg = driver.find_element_by_xpath('//a[@class="_1LKTO3"][2]') #for next page using indexing
    next_pg.click()
except:
    next_pg = driver.find_element_by_xpath('//a[@class="_1LKTO3"]')  
    next_pg.click()

In [178]:
next_pg.click()

In [179]:
brand = driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')[:20]

brand_name3 = []

for i in brand:
    brand_name3.append(i.text)
    
len(brand_name3)

20

In [180]:
pd = driver.find_elements_by_xpath('//a[@class="IRpwTa"]')[:20]

description3 = []

for i in pd:
    description3.append(i.text)
    
len(description3)

20

In [181]:
price = driver.find_elements_by_xpath('//div[@class="_30jeq3"]')[:20]

price3 = []

for i in price:
    price3.append(i.text)
    
len(price3)

20

In [182]:
dis = driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]')[:21]

discount3 = []

for i in dis:
    discount3.append(i.text)
    
len(discount3)

21

In [183]:
brand_name = brand_name1 + brand_name2 + brand_name3
len(brand_name)

100

In [184]:
description = description1 + description2 + description3
len(description)

84

In [185]:
prices = price1 + price2 + price3
len(prices)

100

In [186]:
discount = discount1 + discount2 + discount3
len(discount)

100

In [187]:
import pandas as pd

Making DataFrame

In [188]:
df = pd.DataFrame({'Brand Name':brand_name, 'Price':prices, 'Discount':discount})
df

        Brand Name   Price Discount
0             aadi    499  50% off
1         RED TAPE  1,648  70% off
2         Magnolia    398  60% off
3           Labbin    499  50% off
4   luxury fashion    449  65% off
..             ...     ...      ...
95        CALCADOS    498  56% off
96           Echor    386  56% off
97           CLYMB    649  66% off
98  KNIGHT WALKERS    649  50% off
99          Advick    828  55% off

[100 rows x 3 columns]

# Question.7

In [254]:
url = 'https://www.myntra.com/shoes'
driver.get(url)

In [255]:
#Setting Price Filter
price_filter = driver.find_element_by_xpath('//ul[@class="price-list"]//li[2]')

In [256]:
price_filter.click()

In [257]:
#Setting Color Filter
color_filter = driver.find_element_by_xpath('//li[@class="colour-listItem"]//span[2]')

In [258]:
color_filter.click()

# SCRAPING THE DATA

Extracting Page1 data:

In [259]:
brand = driver.find_elements_by_xpath('//h3[@class="product-brand"]')

brand_name = []

for i in brand:
    brand_name.append(i.text)
    
len(brand_name)

50

In [260]:
desc = driver.find_elements_by_xpath('//h4[@class="product-product"]')

description = []

for i in desc:
    description.append(i.text)
    
len(description)

50

In [261]:
price = driver.find_elements_by_xpath('//div[@class="product-price"]')

prices = []

for i in price:
    prices.append(i.text)
    
len(prices)

50

Moving to Page2:

In [262]:
next_page = driver.find_element_by_xpath('//li[@class="pagination-next"]')

In [263]:
next_page.click()

In [264]:
brand = driver.find_elements_by_xpath('//h3[@class="product-brand"]')

brand_name1 = []

for i in brand:
    brand_name1.append(i.text)
    
len(brand_name1)

50

In [265]:
desc = driver.find_elements_by_xpath('//h4[@class="product-product"]')

description1 = []

for i in desc:
    description1.append(i.text)
    
len(description1)

50

In [266]:
price = driver.find_elements_by_xpath('//div[@class="product-price"]')

prices1 = []

for i in price:
    prices1.append(i.text)
    
len(prices1)

50

In [267]:
Brand = brand_name + brand_name1
len(Brand)

100

In [268]:
Description = description + description1
len(Description)

100

In [269]:
Price = prices + prices1
len(Price)

100

In [270]:
import pandas as pd

Making DataFrame

In [271]:
Shoes = pd.DataFrame({'Brand' : Brand, 'Description' : Description, 'Prices' : Price})
Shoes

,Brand,Description,Prices
0,Puma,Men Running Shoes,Rs. 7149Rs. 12999(45% OFF)
1,Puma,Men Magnify Nitro Running,Rs. 7799Rs. 12999(40% OFF)
2,Delize,Block Heeled Boots,Rs. 9999
3,Bugatti,Men Running Shoes,Rs. 7999Rs. 9999(20% OFF)
4,Delize,High-Top Block Heeled Boots,Rs. 9999
...,...,...,...
95,Hush Puppies,Men Solid Leather Formal Slip-Ons,Rs. 8999Rs. 9999(10% OFF)
96,ROSSO BRUNELLO,Men Solid Boat Shoes,Rs. 7199Rs. 8999(20% OFF)
97,ECCO,Helsinki Bike Toe Lace Shoes,Rs. 12999
98,Saint G,Women Leather Heeled Boots,Rs. 12325Rs. 14500(15% OFF)
99,Clarks,Men Solid Formal Leather Derbys,Rs. 9999

# Question. 8

In [208]:
url = 'https://www.amazon.in/'
driver.get(url)

In [209]:
search_bar = driver.find_element_by_id("twotabsearchtextbox")

In [210]:
search_bar.send_keys('Laptop')

In [211]:
search_button = driver.find_element_by_id("nav-search-submit-button")

In [212]:
search_button.click()

time.sleep(3)

In [213]:
filter1 = driver.find_element_by_xpath('/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/span/div/div/div[6]/div/div/div[1]/div/span[1]/a[12]/div/span')

filter1.click()

In [214]:
title = driver.find_elements_by_xpath('//span[@class="a-size-medium a-color-base a-text-normal"]')[:10]

Title = []

for i in title:
    Title.append(i.text)
    
len(Title)

10

In [215]:
price = driver.find_elements_by_xpath('//span[@class="a-price-whole"]')[:10]

Price = []

for i in price:
    Price.append(i.text)
    
len(Price)

10

In [216]:
url = []

link = driver.find_elements_by_xpath('//a[@class="a-link-normal s-link-style a-text-normal"]')[:10]

for i in link:
    url.append(i.get_attribute('href'))
    
url

['https://www.amazon.in/gp/slredirect/picassoRedirect.html/ref=pa_sp_atf_computers_sr_pg1_1?ie=UTF8&adId=A0177451AYD2L01EBUN0&url=%2FDell-Inspiron-i5-1135G7-Integrated-D560437WIN9SE%2Fdp%2FB08X4PZZMM%2Fref%3Dsr_1_1_sspa%3Fcrid%3DCH5BF2D77JMO%26keywords%3DLaptop%26qid%3D1642328635%26refinements%3Dp_n_feature_thirteen_browse-bin%253A12598164031%26rnid%3D12598141031%26s%3Dcomputers%26sprefix%3Dlaptop%252Caps%252C679%26sr%3D1-1-spons%26psc%3D1&qualifier=1642328635&id=5830037536309582&widgetName=sp_atf',
 'https://www.amazon.in/gp/slredirect/picassoRedirect.html/ref=pa_sp_atf_computers_sr_pg1_1?ie=UTF8&adId=A08910972E0ASR9G87Y&url=%2FAcer-Processor-Business-Integrated-EX215-31%2Fdp%2FB09MJ52H9S%2Fref%3Dsr_1_2_sspa%3Fcrid%3DCH5BF2D77JMO%26keywords%3DLaptop%26qid%3D1642328635%26refinements%3Dp_n_feature_thirteen_browse-bin%253A12598164031%26rnid%3D12598141031%26s%3Dcomputers%26sprefix%3Dlaptop%252Caps%252C679%26sr%3D1-2-spons%26psc%3D1&qualifier=1642328635&id=5830037536309582&widgetName=sp_atf',
 'https://www.amazon.in/Dell-Integrated-Inspiron-3510-D560717WIN9B/dp/B09NLR1TWF/ref=sr_1_3?crid=CH5BF2D77JMO&keywords=Laptop&qid=1642328635&refinements=p_n_feature_thirteen_browse-bin%3A12598164031&rnid=12598141031&s=computers&sprefix=laptop%2Caps%2C679&sr=1-3',
 'https://www.amazon.in/Acer-Processor-Business-Integrated-EX215-31/dp/B095BYNN8Z/ref=sr_1_4?crid=CH5BF2D77JMO&keywords=Laptop&qid=1642328635&refinements=p_n_feature_thirteen_browse-bin%3A12598164031&rnid=12598141031&s=computers&sprefix=laptop%2Caps%2C679&sr=1-4',
 'https://www.amazon.in/Acer-Processor-Business-Integrated-EX215-31/dp/B09MJ52H9S/ref=sr_1_5?crid=CH5BF2D77JMO&keywords=Laptop&qid=1642328635&refinements=p_n_feature_thirteen_browse-bin%3A12598164031&rnid=12598141031&s=computers&sprefix=laptop%2Caps%2C679&sr=1-5',
 'https://www.amazon.in/Microsoft-1793-Quad-core-processor-Integrated/dp/B08BD43MZ7/ref=sr_1_6?crid=CH5BF2D77JMO&keywords=Laptop&qid=1642328635&refinements=p_n_feature_thirteen_browse-bin%3A12598164031&rnid=12598141031&s=computers&sprefix=laptop%2Caps%2C679&sr=1-6',
 'https://www.amazon.in/Dell-Inspiron-i5-1135G7-Integrated-D560437WIN9SE/dp/B08X4PZZMM/ref=sr_1_7?crid=CH5BF2D77JMO&keywords=Laptop&qid=1642328635&refinements=p_n_feature_thirteen_browse-bin%3A12598164031&rnid=12598141031&s=computers&sprefix=laptop%2Caps%2C679&sr=1-7',
 'https://www.amazon.in/Microsoft-STQ-00013-10-1-inch-Processor-Graphics/dp/B08DHHB2W1/ref=sr_1_8?crid=CH5BF2D77JMO&keywords=Laptop&qid=1642328635&refinements=p_n_feature_thirteen_browse-bin%3A12598164031&rnid=12598141031&s=computers&sprefix=laptop%2Caps%2C679&sr=1-8',
 'https://www.amazon.in/Dell-Inspiron-Integrated-Graphics-D560427WIN9BE/dp/B08X4N3DW2/ref=sr_1_9?crid=CH5BF2D77JMO&keywords=Laptop&qid=1642328635&refinements=p_n_feature_thirteen_browse-bin%3A12598164031&rnid=12598141031&s=computers&sprefix=laptop%2Caps%2C679&sr=1-9',
 'https://www.amazon.in/Microsoft-STQ-00013-10-1-inch-Processor-Graphics/dp/B08LCPL57G/ref=sr_1_10?crid=CH5BF2D77JMO&keywords=Laptop&qid=1642328635&refinements=p_n_feature_thirteen_browse-bin%3A12598164031&rnid=12598141031&s=computers&sprefix=laptop%2Caps%2C679&sr=1-10']

In [217]:
Ratings = []

In [220]:
for i in url:
    try:
        driver.get(i)
        R = driver.find_element_by_xpath('//span[@class="a-size-base a-nowrap"]')
        R1=[]
        R1.append(R.text.replace('o',' '))
        for k in range(0,len(R1)):
            Ratings.append(R1[k][:3])
    
    except NoSuchElementException:
        N = ['No Ratings']
        for i in N:
            Ratings.append(i)
        pass

In [222]:
Ratings

['3.9',
 '4.2',
 'No Ratings',
 '3.5',
 '4.2',
 '3.2',
 '3.9',
 '4.1',
 '4.3',
 'No Ratings']

In [223]:
import pandas as pd

Making DataFrame

In [225]:
laptop = pd.DataFrame({'Title' : Title, 'Rating' : Ratings, 'Price' : Price})
laptop

                                               Title      Rating   Price
0  Dell Inspiron 3501 15.6 inches FHD Display Lap...         3.9  56,990
1  Acer Extensa 15 Thin & Light Intel Processor P...         4.2  31,490
2  Dell 15 (2021) PQC-N5030, 4GB, 256GB SSD, Win ...  No Ratings  30,990
3  Acer Extensa 15 Thin & Light Intel Processor P...         3.5  30,740
4  Acer Extensa 15 Thin & Light Intel Processor P...         4.2  31,490
5  Microsoft Surface GO 3 8VA-00013 10.5" (26.67 ...         3.2  50,990
6  Dell Inspiron 3501 15.6 inches FHD Display Lap...         3.9  56,990
7  Microsoft Surface GO 2 STQ-00013 10.1" (26.54 ...         4.1  52,990
8  Dell Inspiron 3502 15.6 inches HD Display Lapt...         4.3  36,011
9  (Renewed) Microsoft Surface GO 2 Intel Pentium...  No Ratings  45,041

# Question.9

In [226]:
url = 'https://www.ambitionbox.com/'
driver.get(url)

In [227]:
select_job = driver.find_element_by_xpath('//a[@class="link jobs"]')

select_job.click()

In [228]:
search_job = driver.find_element_by_xpath('//input[@class="input tt-input"]')

In [229]:
search_job.send_keys('Data Scientist')

In [230]:
search_bar = driver.find_element_by_xpath('//span[@class="ctas-btn-medium"]')
search_bar.click()

In [231]:
#Selecting Location Filter
loc = driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[2]/div[1]/div/div/div/div[2]/div[1]/i')
loc.click()

In [233]:
#Writing Noida in location
box = driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[2]/input')
box.send_keys('Noida')

In [234]:
#Selecting Noida from dropdown
select = driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[3]/div[1]/div[1]/div/label')
select.click()

time.sleep(3)

# SCRAPING THE DATA

Extracting Required Data

In [235]:
name = driver.find_elements_by_xpath('//p[@class="company body-medium"]')[:10]

Name = []

for i in name:
    Name.append(i.text)
    
Name

['HCL',
 'Jubilant Foodworks Limited',
 'Ameriprise Financial',
 'Paytm',
 'CHT Sapiense',
 'CHT Sapiense',
 'GI Group',
 'GI Group',
 'GI Group',
 'Cargoflash']

In [236]:
rating = driver.find_elements_by_xpath('//span[@class="body-small"]')[:10]

Rating = []

for i in rating:
    Rating.append(i.text)
    
Rating

['3.8', '3.9', '4.0', '3.7', '3.8', '3.8', '4.1', '4.1', '4.1', '3.8']

In [237]:
days = driver.find_elements_by_xpath('//span[@class="body-small-l"][1]')[:10]

Days = []

for i in days:
    Days.append(i.text)
    
Days

['2d ago',
 '2d ago',
 '4d ago',
 '10d ago',
 '11d ago',
 '12d ago',
 '23d ago',
 '23d ago',
 '23d ago',
 '1d ago']

In [238]:
import pandas as pd

Making DataFrame

In [239]:
Jobs = pd.DataFrame({'Company Name' : Name, 'Rating' : Rating, 'Job Posted' : Days})
Jobs

                 Company Name Rating Job Posted
0                         HCL    3.8     2d ago
1  Jubilant Foodworks Limited    3.9     2d ago
2        Ameriprise Financial    4.0     4d ago
3                       Paytm    3.7    10d ago
4                CHT Sapiense    3.8    11d ago
5                CHT Sapiense    3.8    12d ago
6                    GI Group    4.1    23d ago
7                    GI Group    4.1    23d ago
8                    GI Group    4.1    23d ago
9                  Cargoflash    3.8     1d ago

# Question.10

In [240]:
url = 'https://www.ambitionbox.com/'
driver.get(url)

In [241]:
#Selecting Salary filter
select_salary = driver.find_element_by_xpath('//a[@class="link salaries"]')

select_salary.click()

In [242]:
search_job = driver.find_element_by_xpath('//input[@class="tt-input"]')

In [243]:
search_job.send_keys('Data Scientist')

In [244]:
select = driver.find_element_by_xpath('//p[@class="tt_text"]')
select.click()

time.sleep(3)

# SCRAPING THE DATA

Extracting Required Data

In [245]:
company = driver.find_elements_by_xpath('//div[@class="name"]')

Company = []

for i in company:
    Company.append(i.text.replace('\n',' '))
    
Company

['Walmart based on 10 salaries',
 'Ab Inbev based on 22 salaries',
 'ZS based on 14 salaries',
 'Fractal Analytics based on 72 salaries',
 'Optum based on 23 salaries',
 'UnitedHealth based on 49 salaries',
 'Tiger Analytics based on 27 salaries',
 'Verizon based on 14 salaries',
 'Ganit Business Solutions based on 13 salaries',
 'Ericsson based on 42 salaries']

In [246]:
minimum = driver.find_elements_by_xpath('//div[@class="value body-medium"][1]')

Minimum = []

for i in minimum:
    Minimum.append(i.text)
    
Minimum

[' 17.7L',
 ' 15.0L',
 ' 9.8L',
 ' 9.5L',
 ' 11.0L',
 ' 7.2L',
 ' 8.3L',
 ' 10.0L',
 ' 8.5L',
 ' 5.8L']

In [247]:
maximum = driver.find_elements_by_xpath('//div[@class="value body-medium"][2]')

Maximum = []

for i in maximum:
    Maximum.append(i.text)
    
Maximum

[' 35.0L',
 ' 25.0L',
 ' 20.0L',
 ' 22.0L',
 ' 21.3L',
 ' 20.5L',
 ' 18.5L',
 ' 21.0L',
 ' 15.0L',
 ' 21.5L']

In [248]:
avg = driver.find_elements_by_xpath('//p[@class="averageCtc"]')

Avg = []

for i in avg:
    Avg.append(i.text)
    
Avg

[' 28.7L',
 ' 19.5L',
 ' 15.8L',
 ' 15.0L',
 ' 15.0L',
 ' 13.5L',
 ' 13.5L',
 ' 12.7L',
 ' 12.4L',
 ' 11.9L']

In [249]:
exp = driver.find_elements_by_xpath('//div[@class="salaries sbold-list-header"]')

Exp = []

for i in exp:
    Exp.append(i.text.replace('\n', ' '))
    
Exp

['Data Scientist  .  3 yrs exp',
 'Data Scientist  .  3-4 yrs exp',
 'Data Scientist  .  2 yrs exp',
 'Data Scientist  .  2-4 yrs exp',
 'Data Scientist  .  3-4 yrs exp',
 'Data Scientist  .  2-4 yrs exp',
 'Data Scientist  .  3-4 yrs exp',
 'Data Scientist  .  4 yrs exp',
 'Data Scientist  .  4 yrs exp',
 'Data Scientist  .  3-4 yrs exp']

In [250]:
import pandas as pd

Making DataFrame

In [251]:
Salary_Range = pd.DataFrame({'Min_Salary':Minimum, 'Max_Salary':Maximum, 'Company':Company, 'Avg_Salary':Avg, 'Role and Experience':Exp})
Salary_Range

,Min_Salary,Max_Salary,Company,Avg_Salary,Role and Experience
0,17.7L,35.0L,Walmart based on 10 salaries,28.7L,Data Scientist . 3 yrs exp
1,15.0L,25.0L,Ab Inbev based on 22 salaries,19.5L,Data Scientist . 3-4 yrs exp
2,9.8L,20.0L,ZS based on 14 salaries,15.8L,Data Scientist . 2 yrs exp
3,9.5L,22.0L,Fractal Analytics based on 72 salaries,15.0L,Data Scientist . 2-4 yrs exp
4,11.0L,21.3L,Optum based on 23 salaries,15.0L,Data Scientist . 3-4 yrs exp
5,7.2L,20.5L,UnitedHealth based on 49 salaries,13.5L,Data Scientist . 2-4 yrs exp
6,8.3L,18.5L,Tiger Analytics based on 27 salaries,13.5L,Data Scientist . 3-4 yrs exp
7,10.0L,21.0L,Verizon based on 14 salaries,12.7L,Data Scientist . 4 yrs exp
8,8.5L,15.0L,Ganit Business Solutions based on 13 salaries,12.4L,Data Scientist . 4 yrs exp
9,5.8L,21.5L,Ericsson based on 42 salaries,11.9L,Data Scientist . 3-4 yrs exp